[defaults]
inventory         = inventory/hosts.yml
remote_user       = venom
host_key_checking = False
result_format     = yaml
roles_path        = vendor/k3s-ansible/roles

[ssh_connection]
pipelining = False
